button{

    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 2.5vh;
    height: 5vh;
    width: 5vh;
    text-align: center;
    font-size: xx-large;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;

}
#Top {
    display: flex;
    flex-direction: row;
    margin-bottom: 350px;
  }
  #Leave {
    margin-right: 65px;
  }
  #icon {
    display: flex;
    flex-direction: column;
    margin: 0px;
    border-radius: 10;
    border: 1px solid transparent;
    margin-right:85px ;
    text-align: center;
  }
  #TextInput{
    margin-top: 20px;

  }
  #Input {
    display: flex;
    flex-direction: row;
    background-color: gray;
    margin: 0px;
    margin-top: 100px;
    width: 100%;
  }
  #Camera,
  #Emojis,
  #Send {
    margin: 5px;
  }
  #Text1 {
    text-align: center;
    height: 75px;
    margin-right: 250px;
    background-color: gray;
    border: 2px solid transparent;
    border-radius: 10px;
  }
  #Text2 {
    text-align: center;
    height: 75px;
    margin-left: 250px;
    background-color: gray;
    border: 2px solid transparent;
    border-radius: 10px;
  }
  h1
  {
    margin-bottom: 5px;
  }
  h2
  {
    margin-top: 5px;
  }
  p 
  {
    text-align: center;
    font-size: 20px;
  }
  body {
    user-select: none;
    margin: 0px;
  }